body{
  text-align: center;
  margin: auto;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color:white;
}

.nav{
  font-family: Helvetica;
  font-size: 18px;
  color:white;
}

.broadway{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

#new-york{
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color:white;
}
